* {
    margin: 0;
    padding: 0;
    background-color: rgb(228, 228, 201);
}

h1{
    display: flex;
    justify-content: center;
    border: 1px outset;
    border-radius: 35px;
    border-color: hsla(51, 81%, 47%, 0.839);
    border-width: 5px;
    background-color: darkred;
    color: hsla(51, 81%, 47%, 0.839);
    font-size: 1.5cm;
    text-transform: uppercase;
    padding: 10px;
}

.orient{
    display: flex;
    padding: 20px;
    justify-content: center;
}

.text{
    position: absolute;
    color: rgb(67, 59, 59);
    font-size: 18px;
    text-align: center;
    font-weight: bold;    
    width: 100%;
    text-decoration: underline;
}