* {
    margin: 0;
    padding: 0;
    background-color: rgb(228, 228, 201);
}

h1{
    display: flex;
    justify-content: center;
    border: 1px outset;
    border-radius: 35px;
    border-color: hsla(51, 81%, 47%, 0.839);
    border-width: 5px;
    background-color: darkred;
    color: hsla(51, 81%, 47%, 0.839);
    font-size: 1.5cm;
    text-transform: uppercase;
    padding: 10px;
}

.content{
    display: flex;
    justify-content: center;
    margin: 30px;
    padding: 0px;
    display: flex;
    border:  1px ;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.picture{
    display: flex;
    width: 25%;
    flex-wrap: nowrap;
    margin: 20px;
    border-radius: 30px;
    align-items: center;
    margin-left: 37%;
    box-shadow: 10px 10px 5px rgb(59, 56, 56);
}